@model GoLocal.Models.Feed

@{
    ViewBag.Title = "Feed Details";
}

<div>
    <h4>Feed Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>

        <dt>
            Upvotes
        </dt>

        <dd>
            @Model.Upvote()
        </dd>

        <dt>
            Downvotes
        </dt>

        <dd>
            @Model.Downvote()
        </dd>

    </dl>
</div>
<p>
@if (Model.User.Email == User.Identity.Name || User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Upvote", "Upvote", "Votes", new { feedId = Model.ID}, null) <span>|</span>
    @Html.ActionLink("Comment", "Create", "Comments", new { feedId = Model.ID }, null) <span>|</span>
    @Html.ActionLink("Downvote", "Downvote", "Votes", new { feedId = Model.ID }, null) <span>|</span>
}
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.FeedComments.Count > 0) {
<h4>Comments</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeedComments[0].Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedComments[0].User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedComments[0].Timestamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.FeedComments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (item.User.Email == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <span>|</span> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
}

@if (Model.FeedVotes.Count > 0)
{
    <h4>Votes</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedVotes[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedVotes[0].User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedVotes[0].Timestamp)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.FeedVotes)
        {
            <tr>
                <td>
                    @if (item.Type == "U")
                    {
                        <span class="badge" style="background-color: #5cb85c;">&nbsp;</span>
                    }
                    else
                    {
                        <span class="badge" style="background-color: #d9534f;">&nbsp;</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (item.User.Email == User.Identity.Name || User.IsInRole("Admin"))
                    {
                        <span>|</span> @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }

    </table>
}