@model IEnumerable<GoLocal.Models.Feed>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<script>
    window.onload = function getLocation() {
        navigator.geolocation.getCurrentPosition(show, error);
        
        function show(pos) {
            latitude = pos.coords.latitude;
            longitude = pos.coords.longitude;
            document.getElementById('latLng').value = latitude+','+longitude;
        }

        function error(pos) {
            alert(pos.code);
        }
    }
</script>
@using (Html.BeginForm("Index", "Feeds", FormMethod.Post)){
    @Html.Hidden("latLng");
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" onclick="getLocation()" value="Use Location" class="btn btn-default" />
    </div>
</div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Long)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Long)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
