<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoLocalApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'e76fc282-a579-469d-873e-8c2f641cbf5d'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    
                    <img src="~/imageedit_7_8567321352.png" height="20">
                       
                    
                    
                </a>
                
                @Html.ActionLink("Go Local", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    <li>@Html.ActionLink("Feeds", "Index", "Feeds")</li>
                    <li>@Html.ActionLink("Twitter", "ComingSoon", "Home")</li>
                    <li>@Html.ActionLink("Local Map", "ComingSoon", "Home")</li>
                    <li>@Html.ActionLink("Jobs", "Contact", "Home")</li>
                    <img src="~/imageedit_7_8567321352.png">
                        
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "index", "ViewContext.RouteData.Values[\"controller\"].ToString()", new { })</li>
        <li><a href="#">@Html.Label(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString())</a></li>
    </ol>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <center><img src="~/imageedit_1_9797732960.png" title="title" alt="additional title" /></center>
        <footer>
            <p>&copy; @DateTime.Now.Year - Debayan Basu, Sushant Karnik, Vijay Jain</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
